header nav{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
    padding-bottom: 10px;
    background-color: palevioletred;
    padding-bottom: 10px;
    margin: 30px;
    text-decoration: underline;
}
header div{
    text-align: center;
    margin: 10px;
    background-color: palevioletred;
    padding: 10px;
    word-spacing: 2mm;
    border-radius: 20px;
}
body{
  background-color: grey;
  padding: 20px;
}

footer{
  margin-top: 150px;
  color: black;
  background-color: palevioletred;
  border-radius: 20px;
}